body{
	padding:0;
	margin: 0;
}

@font-face {
    font-family: Poppins;
    src:url("./font/Poppins-Medium.ttf");
}

@font-face {
    font-family: Poppins-Bold;
    src:url("./font/Poppins-Bold.ttf");
}

@font-face {
    font-family: Poppins-Italic;
    src:url("./font/Poppins-Italic.ttf");
}

@font-face {
    font-family: Poppins-Light;
    src:url("./font/Poppins-ExtraLight.ttf");
}

h1{
	font-family: Poppins;
    font-size: 40px;
    line-height: 60px;
    margin: 0;
    color: #ffffff;
}

h2 {
    font-family: Poppins;
    font-size: 26px;
    line-height: 29px;
    margin: 0;
}

h3 {
    font-family: Poppins-Light;
    font-size: 18px;
    line-height: 29px;
    margin: 0;
}

h4{
	font-family: Poppins-Light;
	font-size: 14px;
	line-height: 20px;
	margin-top : 10px;
	margin-bottom: 10px;
}

h5{
	font-family: Poppins-Light;
	font-size: 14px;
	line-height: 20px;
	margin-top : 10px;
	margin-bottom: 10px;
	color: #747474
}
p{
	font-family: Poppins;
	font-size: 14px;
	line-height: 20px;
	margin-top : 10px;
	margin-bottom: 10px;
	color: #F9196A
}
.container-img{
	width: 100%;
	height: 715px;
  	padding-right: 140px;
  	padding-left: 140px;
  	padding-top: 42px; 
  	margin-right: auto;
  	margin-left: auto;
  	box-sizing: border-box;
  	display: block;
	background-image: url("./assets/gambar1.png");
	background-color: #cccccc;
}
.button-pink{
	border: 0;
	background-color: #F9196A;
	width: 100%;
	padding: 8px;
	height: 50px;
	border-radius: 30px;
	font-family: Poppins;
	float: center;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	cursor: pointer;
}

.button-pink-s{
	border: 0;
	background-color: #F9196A;
	width: 100%;
	padding: 8px;
	height: 50px;
	border-radius: 30px;
	font-family: Poppins;
	float: center;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	cursor: pointer;
}

.button-pink-xs{
	border: 0;
	background-color: #F9196A;
	width: 30%;
	padding: 8px;
	height: 50px;
	border-radius: 30px;
	font-family: Poppins;
	float: center;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	cursor: pointer;
}

.button-pink:hover {
	cursor: pointer;
	background-color: green;
}

.button-hollow{
	border: 1px solid #29293E;
	background-color: #ffffff;
	width: 100%;
	padding-left: 10%;
	height: 50px;
	border-radius: 30px;
	font-family: Poppins;
	display: inline-block;
	float: center;
	font-size: 14px;
	line-height: 20px;
	color: #29293E;
}

.on-side{
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;

}


.input{
	border: 1px solid #C9C9C9;
	border-radius: 10px;
	padding: 18px;
	padding-right: 0;
	width: 95%;
	height: 2px;	
}

.nav{
	padding-top: 0px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Poppins;
}

.nav ul li {
  float: left;
}

.container-img ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li-button{
	width: 12%;
}

.highlight{
	width: 50%;
	margin: 0 auto;
}

.sub-highlight{
	width: 70%;
	margin: 0 auto;
}

.search{
	width: 60%;
	border-radius: 30px;
	font-family: Poppins;
	border: 0;
	background-color: #ffffff;
	padding-left: 30px;
}

.feature{
	width: 60%;
	margin: 0 auto;
}

.content{
	margin: 0 auto;
	border: 1px solid #DEDEDE;
	border-radius: 38.6329px;
	padding-bottom: 35px;
	padding-top: 40px;
	padding-left: 10px;
	padding-right: 10px;
	width: 120px; 
	height: 60px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 3px;
  transition: 0.3s;
  display: inline-block;
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 20px;
  width: 240px;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 3px;
  transition: 0.3s;
  display: inline-block;
  margin-bottom: 50px;
  margin-right: 15px;
  margin-left: 15px;
  width: 310px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 10px;
}

.card-corner{
	border-radius: 3px;
	width: 75px;
	height: 25px;
	padding-left: 25px;
	position: absolute;
	background-color: #F9196A;
}

.train{
	padding-bottom: 50px;
	border-bottom: 0.5px solid #747474;
}

.footer{
	border-top: 1px solid #DEDEDE;
	padding-top: 50px;
}

.select{
	font-family: Poppins;
	width: 30%;
	padding: 16px 30px;
	border-radius: 70px;
	border: 0;
}

.input-sm{
	border: 1px solid #C9C9C9;
	border-radius: 30px;
	padding: 16px 30px;
	padding-right: 0;
	border: 0;
	width: 30%;
	height: 20px;	
}

.button-xxs{
	border: 0;
	background-color: #F9196A;
	width: 10%;
	padding: 8px;
	height: 50px;
	border-radius: 30px;
	font-family: Poppins;
	float: center;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	cursor: pointer;
}

.comment{
	background-color: #E9E9E9;
	padding: 20px;
	width: 100%;
	border-radius: 10px;
}

.card3{
	background-color: #ffffff;
	padding: 30px;
	border-radius: 10px;
}
.card-head{
	padding: 15px;
}